<section class="additional-info">
</br>



 {% if pkg_dict.author or pkg_dict.author_email or pkg_dict.author_identifier  %} 
<h2>{{_('Author')}}</h2>  
<table class="table table-striped table-bordered table-condensed">
	 {% if pkg_dict.author %} 
          <tr>
            <th scope="row" class="dataset-label">{{ _("Name") }}</th>
            <td class="dataset-details" property="dc:creator">
		{% if pkg_dict.ico_creator %} <a href={{ pkg_dict.ico_creator }} target="_blank"> {% endif %}
		{{ pkg_dict.author }} 
		{% if pkg_dict.ico_creator %}</a>  {% endif %}
		</td>         
          </tr>
	  {% endif %}
          

	{% if pkg_dict.ico_indirizzo_creatore and  (pkg_dict.ico_indirizzo_creatore!='n.d.') %}
         <tr>
            <th scope="row" class="dataset-label">{{ _("Indirizzo") }}</th>
            <td class="dataset-details" property="dc:creator">{{ pkg_dict.ico_indirizzo_creatore}}
	  	  			 <img src="https://www.applyfinancial.co.uk/_images/location_icon.png" style="padding-left:10px"  width="25"></td>  			
          </tr>
	{% endif %}

        {% if pkg_dict.author_email %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("E-mail") }}</th>
            <td class="dataset-details" property="dc:creator">{{ h.mail_to(email_address=pkg_dict.author_email, name=pkg_dict.author_email) }}
			 <img src=" http://www.clker.com/cliparts/F/Y/n/q/Z/A/grey-white-message-md.png" style="padding-left:10px"  width="25"></td>          
          </tr>
          {% endif %}

          {% if pkg_dict.author_identifier %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("Identificativo") }}</th>
            <td class="dataset-details" property="dc:creator">{{pkg_dict.author_identifier }}</td>         
          </tr>
          {% endif %}
</table> 
{% endif %}




{% if pkg_dict.holder_name or pkg_dict.ico_HomePage_Ente_Responsabile or pkg_dict.holder_identifier or pkg_dict.author_identifier  %}
<h2>{{_('Ente Responsabile')}}</h2>  
<table class="table table-striped table-bordered table-condensed">
{% if pkg_dict.holder_name %} 
          <tr>
            <th scope="row" class="dataset-label">{{ _("Name") }}</th>
            <td class="dataset-details" property="dc:creator">{{ pkg_dict.holder_name }}</td>         
          </tr>
	  {% endif %}
	{% if pkg_dict.ico_tipo_ente_responsbile %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("Tipo Ente") }}</th>
            <td class="dataset-details" property="dc:creator">{{pkg_dict.ico_tipo_ente_responsbile}}</td>         
          </tr>
          {% endif %}



{% if pkg_dict.ico_HomePage_Ente_Responsabile and  (pkg_dict.ico_HomePage_Ente_Responsabile !='n.d.')%}
    <tr>
      <th scope="row" class="dataset-label">{{ _("HomePage") }}</th>
      <td class="dataset-details"> <a href={{ pkg_dict.ico_HomePage_Ente_Responsabile }} target="_blank">{{ pkg_dict.ico_HomePage_Ente_Responsabile }}</a>
	  	  	  			 <img src=" http://www.clker.com/cliparts/Q/7/J/K/1/d/house-grey-md.png" style="padding-left:10px"  width="18"></td>  
    </tr>
  {% endif %}
  {% if  pkg_dict.ico_email_ente_responsabile and  (pkg_dict.ico_email_ente_responsabile !='n.d.')%}
          <tr>
            <th scope="row" class="dataset-label">{{ _("E-mail") }}</th>
            <td class="dataset-details" property="dc:creator">{{ h.mail_to(email_address=pkg_dict.ico_email_ente_responsabile, name=pkg_dict.ico_email_ente_responsabile) }}   
			 <img src=" http://www.clker.com/cliparts/F/Y/n/q/Z/A/grey-white-message-md.png" style="padding-left:10px"  width="25"></td>  
 		
          </tr>
          {% endif %}

	{% if pkg_dict.holder_identifier %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("Identificativo") }}</th>
            <td class="dataset-details" property="dc:creator">{{pkg_dict.holder_identifier }}</td>         
          </tr>
          {% endif %}
</table> 
{% endif %}



  
{% if pkg_dict.maintainer or pkg_dict.maintainer_email   %} 
<h2>{{_('Maintainer')}}</h2>  
<table class="table table-striped table-bordered table-condensed">
	 {% if pkg_dict.maintainer %}
         <tr>
            <th scope="row" class="dataset-label">{{ _("Name") }}</th>
            <td class="dataset-details" property="dc:creator">{{ pkg_dict.maintainer }}</td>         
          </tr>
	  {% endif %}
          {% if  pkg_dict.maintainer_email %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("E-mail") }}</th>
            <td class="dataset-details" property="dc:creator">{{ h.mail_to(email_address=pkg_dict.maintainer_email, name=pkg_dict.maintainer_email) }}
			 <img src=" http://www.clker.com/cliparts/F/Y/n/q/Z/A/grey-white-message-md.png" style="padding-left:10px"  width="25"></td>  
          </tr>
          {% endif %}
         {% if pkg_dict.maintainer_identifier %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("Identificativo") }}</th>
            <td class="dataset-details" property="dc:creator">{{pkg_dict.maintainer_identifier }}</td>         
          </tr>
          {% endif %}
</table> 
{% endif %}

 {% if pkg_dict.ico_referente or pkg_dict.ico_email_referente or pkg_dict.ico_recapito_telefonico_referente  %}
<h2>{{_('Referente')}} </h2>
<table class="table table-striped table-bordered table-condensed">
         {% if pkg_dict.ico_referente %}
         <tr>
            <th scope="row" class="dataset-label">{{ _("Name") }}</th>
            <td class="dataset-details" property="dc:creator">{{ pkg_dict.ico_referente }}</td>         
          </tr>
	{% endif %}
	{% if pkg_dict.ico_email_referente %}
         <tr>
            <th scope="row" class="dataset-label">{{ _("E-mail") }}</th>
            <td class="dataset-details" property="dc:creator">{{ h.mail_to(email_address=pkg_dict.ico_email_referente , name=pkg_dict.ico_email_referente ) }}	
			 <img src=" http://www.clker.com/cliparts/F/Y/n/q/Z/A/grey-white-message-md.png" style="padding-left:10px"  width="25"></td>  
          </tr>
	{% endif %}
         {% if pkg_dict.ico_recapito_telefonico_referente %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("Recapito Telefonico") }}</th>
            <td class="dataset-details" property="dc:creator">{{pkg_dict.ico_recapito_telefonico_referente }}
	  	  			 <img src="http://baileyhomesnv.com/wp-content/themes/genesis-child/assets/images/icons/phone-grey.png" style="padding-left:10px"  width="15"></td>  			
          </tr>
          {% endif %}
</table> 
{% endif %}


 {% if pkg_dict.publisher_name or pkg_dict.publisher_identifier or pkg_dict.ico_indirizzo_struttura_riferimento or  pkg_dict.ico_recapito_telefonico_struttura_riferimento or   pkg_dict.ico_email_struttura_riferimento%}
<h2>{{_('Struttura di riferimento')}} </h2>
<table class="table table-striped table-bordered table-condensed">
         {% if pkg_dict.publisher_name %}
         <tr>
            <th scope="row" class="dataset-label">{{ _("Name") }}</th>
            <td class="dataset-details" property="dc:creator">{{ pkg_dict.publisher_name }}</td>         
          </tr>
	{% endif %}
	{% if pkg_dict.ico_indirizzo_struttura_riferimento and  (pkg_dict.ico_indirizzo_struttura_riferimento!='n.d.') %}
         <tr>
            <th scope="row" class="dataset-label">{{ _("Indirizzo") }}</th>
            <td class="dataset-details" property="dc:creator">{{ pkg_dict.ico_indirizzo_struttura_riferimento}}
	  	  			 <img src="https://www.applyfinancial.co.uk/_images/location_icon.png" style="padding-left:10px"  width="25"></td>  			
          </tr>
	{% endif %}

	{% if pkg_dict.ico_recapito_telefonico_struttura_riferimento  and  (pkg_dict.ico_recapito_telefonico_struttura_riferimento!='n.d.')%}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Recapito Telefonico ") }}</th>
      <td class="dataset-details">{{ pkg_dict.ico_recapito_telefonico_struttura_riferimento }}
	  	  			 <img src="http://baileyhomesnv.com/wp-content/themes/genesis-child/assets/images/icons/phone-grey.png" style="padding-left:10px"  width="15"></td>
    </tr>
  {% endif %}
  


  {% if pkg_dict.ico_email_struttura_riferimento and  (pkg_dict.ico_email_struttura_riferimento!='n.d.') %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("E-mail") }}</th>
<td class="dataset-details" property="dc:creator">{{ h.mail_to(email_address=pkg_dict.ico_email_struttura_riferimento , name=pkg_dict.ico_email_struttura_riferimento ) }}	
	  			 <img src=" http://www.clker.com/cliparts/F/Y/n/q/Z/A/grey-white-message-md.png" style="padding-left:10px"  width="25"></td>  
    </tr>
  {% endif %}
  
  {% if pkg_dict.publisher_identifier %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("Identificativo") }}</th>
            <td class="dataset-details" property="dc:creator">{{pkg_dict.publisher_identifier }}</td>         
          </tr>
          {% endif %}
</table> 
{% endif %}



<h2>{{'Date riguardo la scheda del catalogo'}}</h2>  
<table class="table table-striped table-bordered table-condensed">


        {% if pkg_dict.metadata_modified %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("Ultimo aggiornamento scheda") }}</th>
            <td class="dataset-details">
                {% snippet 'snippets/local_friendly_datetime.html', datetime_obj=pkg_dict.metadata_modified %}
            </td>
          </tr>
        {% endif %}
	{% if pkg_dict.metadata_created %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("Creazione scheda") }}</th>

            <td class="dataset-details">
                {% snippet 'snippets/local_friendly_datetime.html', datetime_obj=pkg_dict.metadata_created %}
            </td>
          </tr>
        {% endif %}	
	{% if pkg_dict.temporal_start or pkg_dict.temporal_end  %}
	<tr>
	   <th scope="row" class="dataset-label">{{ _("Copertura Temporale") }}</th>
		<td class="dataset-details">
 		{% if pkg_dict.temporal_start %}
			Dal {{ pkg_dict.temporal_start }}
		{% endif %}
		 {% if pkg_dict.temporal_end %}
			al {{ pkg_dict.temporal_end }}
		{% endif %}
		</td>
    </tr>
  {% endif %}
        
</table>


{% if pkg_dict.data_di_creazione_dato or pkg_dict.data_di_aggiornamento_dato or pkg_dict.data_di_pubblicazione_dato %}
<h2>{{'Date riguardo il dato fisico'}}</h2>  
<table class="table table-striped table-bordered table-condensed">
		{% if pkg_dict.data_di_creazione_dato %}
		<tr>
		  <th scope="row" class="dataset-label">{{ _("Data di Creazione del dato") }}</th>
		  <td class="dataset-details">{{ pkg_dict.data_di_creazione_dato}}</td>
		</tr>
		{% endif %}
		
		{% if pkg_dict.data_di_aggiornamento_dato %}
		<tr>
		<th scope="row" class="dataset-label">{{ _("Data di Aggiornamento del dato") }}</th>
		<td class="dataset-details">{{ pkg_dict.data_di_aggiornamento_dato}}</td>
		</tr>
		{% endif %}
		
		{% if pkg_dict.data_di_pubblicazione_dato %}
		<tr>
		<th scope="row" class="dataset-label">{{ _("Data di Pubblicazione del dato") }}</th>
		<td class="dataset-details">{{ pkg_dict.data_di_pubblicazione_dato}}</td>
		</tr>
		{% endif %}
</table>
{% endif %}




</br>
  <h2>{{ _('Additional Info') }}</h2>
  <table class="table table-striped table-bordered table-condensed">
    <tbody>
      {% block package_additional_info %}
        {% if pkg_dict.url %}
          <tr>
            <th scope="row" class="dataset-label">{{ _('Source') }}</th>
            {% if h.is_url(pkg_dict.url) %}
              <td class="dataset-details" property="foaf:homepage">{{ h.link_to(pkg_dict.url, pkg_dict.url, rel='foaf:homepage', target='_blank') }}</td>
            {% else %}
              <td class="dataset-details" property="foaf:homepage">{{ pkg_dict.url }}</td>
            {% endif %}
          </tr>
        {% endif %}





      {% block extras scoped %}
        {% for extra in h.sorted_extras(pkg_dict.extras) %}
          {% set key, value = extra %}
          <tr rel="dc:relation" resource="_:extra{{ i }}">
            <th scope="row" class="dataset-label" property="rdfs:label">{{ _(key) }}</th>
            <td class="dataset-details" property="rdf:value">{{ value }}</td>
          </tr>
        {% endfor %}
      {% endblock %}

      {% endblock %}
    </tbody>
  </table>
</section>
