{% set moka_url = h.get_moka_URL() %}


{%if c.userobj.apikey %}
	{% set api = c.userobj.apikey %}
	{% set risorsa = c.resource_id %}
	<iframe 
	src="{{moka_url}}?ckanApiKey={{api}}&ckanResourceId={{risorsa}}"
	frameborder="0" width="100%" data-module="data-viewer">
		
		<p>{{ _('Your browser does not support iframes.') }}</p>
  
  </iframe>

{% else %}
{% set risorsa = c.resource_id %}
	<iframe 
	src="{{moka_url}}?ckanResourceId={{risorsa}}"
	frameborder="0" width="100%" data-module="data-viewer">
	
	<!--src="https://servizimokatest.regione.emilia-romagna.it/mokaApp/apps/MOCKAN/index.html?ckanResourceId={{risorsa}}"-->	
		<p>{{ _('Your browser does not support iframes.') }}</p>

	</iframe>

{% endif %}



