{% set tags = h.get_facet_items_dict('tags', limit=3) %}
{% set placeholder = _('E.g. environment') %}



<div id="content" class="module module-search module-narrow module-shallow box span12" style=" margin-bottom:20px; background-color: white;  margin:0 auto;   top: 50%;
  left: 50%;  padding: 0; ">
  <form class="module-content search-form" method="get" action="{% url_for controller='package', action='search' %}">
    <h4 class="heading">{{ _("Search data") }}</h4>
  {% snippet "spatial/snippets/spatialquery2.html", default_extent=[[45.13, 9], [44, 13.7]] %}
    <div class="search-input control-group search-giant" style="margin-top:5px">
      <input type="text" class="search" name="q" value="" autocomplete="off" placeholder="{% block search_placeholder %}{{ placeholder }}{% endblock %}" />
      <button type="submit">
        <i class="icon-search"></i>
        <span>{{ _('Search') }}</span>
      </button>
    </div>




  </form>






<!--
  <div class="tags">
    <h3>{{ _('Popular tags') }}</h3>
    {% for tag in tags %}
      <a class="tag" href="{% url_for controller='package', action='search', tags=tag.name %}">{{ h.truncate(tag.display_name, 22) }}</a>
    {% endfor %}
  </div>
-->


</div>


