{% set moka_preview_url = h.get_moka_preview_URL() %}

<p style="margin-bottom: 15px;">
{% link_for _('Espandi'), controller='ckanext.dashboard.controller:LocationController', 
	action='resourcePreview', resource = c.resource_id,
	class_='btn pull-right', icon='arrow-right' %}
</p>

{%if c.userobj.apikey %}
	{% set api = c.userobj.apikey %}
	{% set risorsa = c.resource_id %}
	<iframe 
	src="{{moka_preview_url}}?ckanApiKey={{api}}&ckanResourceId={{risorsa}}"
	frameborder="0" width="100%" data-module="data-viewer">
		
		<p>{{ _('Your browser does not support iframes.') }}</p>
  
  </iframe>

{% else %}
{% set risorsa = c.resource_id %}
	<iframe 
	src="{{moka_preview_url}}?ckanResourceId={{risorsa}}"
	frameborder="0" width="100%" data-module="data-viewer">
	
	<!--src="https://servizimokatest.regione.emilia-romagna.it/mokaApp/apps/MOCKAN/index.html?ckanResourceId={{risorsa}}"-->	
		<p>{{ _('Your browser does not support iframes.') }}</p>

	</iframe>

{% endif %}



