<section class="additional-info">
</br>


{% if pkg_dict.holder_name or pkg_dict.ico_HomePage_Ente_Responsabile or pkg_dict.holder_identifier or pkg_dict.author_identifier  %}
<h2>
	{{_('Ente Responsabile (Titolare)')}}
</h2>  
<table class="table table-striped table-bordered table-condensed">
{% if pkg_dict.holder_name %} 
          <tr>
            <th scope="row" class="dataset-label">{{ _("Name") }}</th>
            <td class="dataset-details" property="dc:creator">{{ pkg_dict.holder_name }}</td>         
          </tr>
	  {% endif %}
	{% if pkg_dict.ico_tipo_ente_responsbile %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("Tipo Ente") }}</th>
            <td class="dataset-details" property="dc:creator">{{pkg_dict.ico_tipo_ente_responsbile}}</td>         
          </tr>
          {% endif %}



{% if pkg_dict.ico_HomePage_Ente_Responsabile and  (pkg_dict.ico_HomePage_Ente_Responsabile !='n.d.')%}
    <tr>
      <th scope="row" class="dataset-label">{{ _("HomePage") }}</th>
      <td class="dataset-details"> <a href={{ pkg_dict.ico_HomePage_Ente_Responsabile }} target="_blank">{{ pkg_dict.ico_HomePage_Ente_Responsabile }}</a>
	  	  	  			 <i class="icon-desktop" style="padding-left:10px; color:#187794;"></i> </td>  
    </tr>
  {% endif %}
  {% if  pkg_dict.ico_email_ente_responsabile and  (pkg_dict.ico_email_ente_responsabile !='n.d.')%}
          <tr>
            <th scope="row" class="dataset-label">{{ _("E-mail") }}</th>
            <td class="dataset-details" property="dc:creator">{{ h.mail_to(email_address=pkg_dict.ico_email_ente_responsabile, name=pkg_dict.ico_email_ente_responsabile) }}   
			 <i class="icon-envelope" style=" padding-left:10px; color:#187794;"></i></td>   
 		
          </tr>
          {% endif %}

	{% if pkg_dict.holder_identifier %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("Identificativo") }}</th>
            <td class="dataset-details" property="dc:creator">{{pkg_dict.holder_identifier }}</td>         
          </tr>
          {% endif %}
</table> 
{% endif %}



 {% if pkg_dict.publisher_name or pkg_dict.publisher_identifier or pkg_dict.ico_indirizzo_struttura_riferimento or  pkg_dict.ico_recapito_telefonico_struttura_riferimento or   pkg_dict.ico_email_struttura_riferimento%}
<h2>
		{{_('Struttura di riferimento')}}
 </h2>
<table class="table table-striped table-bordered table-condensed">
         {% if pkg_dict.publisher_name %}
         <tr>
            <th scope="row" class="dataset-label">{{ _("Name") }}</th>
            <td class="dataset-details" property="dc:creator">{{ pkg_dict.publisher_name }}</td>         
          </tr>
	{% endif %}
	{% if pkg_dict.ico_indirizzo_struttura_riferimento and  (pkg_dict.ico_indirizzo_struttura_riferimento!='n.d.') %}
         <tr>
            <th scope="row" class="dataset-label">{{ _("Indirizzo") }}</th>
            <td class="dataset-details" property="dc:creator">{{ pkg_dict.ico_indirizzo_struttura_riferimento}}
	  	  			 <i class="icon-map-marker" style="padding-left:10px; color:#187794;"></i> </td>     			
          </tr>
	{% endif %}

	{% if pkg_dict.ico_recapito_telefonico_struttura_riferimento  and  (pkg_dict.ico_recapito_telefonico_struttura_riferimento!='n.d.')%}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Recapito Telefonico ") }}</th>
      <td class="dataset-details">{{ pkg_dict.ico_recapito_telefonico_struttura_riferimento }}
	  	  			 <i class="icon-phone" style=" padding-left:10px; color:#187794;"></i></td> 
    </tr>
  {% endif %}

  {% if pkg_dict.ico_HomePage_Struttura_Riferimento and  (pkg_dict.ico_HomePage_Struttura_Riferimento !='n.d.')%}
  <tr>
	<th scope="row" class="dataset-label">{{ _("HomePage") }}</th>
	<td class="dataset-details"> <a href={{ pkg_dict.ico_HomePage_Struttura_Riferimento }} target="_blank">{{ pkg_dict.ico_HomePage_Struttura_Riferimento }}</a>
							 <i class="icon-desktop" style="padding-left:10px; color:#187794;"></i> </td>  
  </tr>
{% endif %}
  

  {% if pkg_dict.ico_email_struttura_riferimento and  (pkg_dict.ico_email_struttura_riferimento!='n.d.') %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("E-mail") }}</th>
<td class="dataset-details" property="dc:creator">{{ h.mail_to(email_address=pkg_dict.ico_email_struttura_riferimento , name=pkg_dict.ico_email_struttura_riferimento ) }}	
	  			 <i class="icon-envelope" style=" padding-left:10px; color:#187794;"></i></td>   
    </tr>
  {% endif %}
  
  {% if pkg_dict.publisher_identifier %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("Identificativo") }}</th>
            <td class="dataset-details" property="dc:creator">{{pkg_dict.publisher_identifier }}</td>         
          </tr>
          {% endif %}
</table> 
{% endif %}





{% if pkg_dict.ico_referente or pkg_dict.ico_email_referente or pkg_dict.ico_recapito_telefonico_referente  %}
<h2>
		{{_('Referente')}}
 </h2>
<table class="table table-striped table-bordered table-condensed">
         {% if pkg_dict.ico_referente %}
         <tr>
            <th scope="row" class="dataset-label">{{ _("Name") }}</th>
            <td class="dataset-details" property="dc:creator">{{ pkg_dict.ico_referente }}</td>         
          </tr>
	{% endif %}
	{% if pkg_dict.ico_email_referente %}
         <tr>
            <th scope="row" class="dataset-label">{{ _("E-mail") }}</th>
            <td class="dataset-details" property="dc:creator">{{ h.mail_to(email_address=pkg_dict.ico_email_referente , name=pkg_dict.ico_email_referente ) }}	
			 <i class="icon-envelope" style=" padding-left:10px; color:#187794;"></i></td>   
          </tr>
	{% endif %}
         {% if pkg_dict.ico_recapito_telefonico_referente %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("Recapito Telefonico") }}</th>
            <td class="dataset-details" property="dc:creator">{{pkg_dict.ico_recapito_telefonico_referente }}
	  	  			 <i class="icon-phone" style=" padding-left:10px; color:#187794;"></i></td>   			
          </tr>
          {% endif %}
</table> 
{% endif %}






{% if pkg_dict.author or pkg_dict.author_email or pkg_dict.author_identifier  %} 
<h2>{{_('Author')}}</h2>  
<table class="table table-striped table-bordered table-condensed">
	{% if pkg_dict.author %}
	{% set list = (pkg_dict.author|replace(';','|')).split('|')  %}
		<tr>
			<th scope="row" class="dataset-label">{{ _("Name") }}</th> 
				<td class="dataset-details">
		{% if list|length >1 %}
			<ul>
			{% for tag in list  %}
			{% if (tag!="n.d.")  %}

			<li>{{ tag }}	</li>
			{% endif %}

			{% endfor %}
			</ul>
		{% else %}
			{{ list[0] }}
		{% endif %}
		</td>
		</tr>
	{% endif %}          



	{% if pkg_dict.author_email %}

		{% set list = (pkg_dict.author_email|replace(';','|')).split('|') %}
				<tr>
						<th scope="row" class="dataset-label">{{ _("E-mail") }}</th>
				<td class="dataset-details">
		{% if list|length >1 %}
			<ul>
			{% for tag in list  %}
			{% if (tag!="n.d.")  %}

			<li>{{ h.mail_to(email_address= tag, name= tag) }}	
					<i class="icon-envelope" style=" padding-left:10px; color:#187794;"></i>
			</li>
			{% endif %}

			{% endfor %}
			</ul>
		{% else %}
		{{ h.mail_to(email_address= list[0], name= list[0]) }}
		<i class="icon-envelope" style=" padding-left:10px; color:#187794;"></i>
		{% endif %}

		</td> 
		</tr>
	{% endif %}



	{% if pkg_dict.ico_indirizzo_creatore and  (pkg_dict.ico_indirizzo_creatore!='n.d.') %}
         <tr>
            <th scope="row" class="dataset-label">{{ _("Indirizzo") }}</th>
            <td class="dataset-details" property="dc:creator">{{ pkg_dict.ico_indirizzo_creatore}}
	  	  			 <i class="icon-map-marker" style=" padding-left:10px; color:#187794;"></i></td>   			
          </tr>
	{% endif %}


          {% if pkg_dict.author_identifier %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("Identificativo") }}</th>
            <td class="dataset-details" property="dc:creator">{{pkg_dict.author_identifier }}</td>         
          </tr>
          {% endif %}
</table> 
{% endif %}

  


{% if pkg_dict.maintainer or pkg_dict.maintainer_email   %} 
<h2>
	{{_('Maintainer')}}
</h2>  
<table class="table table-striped table-bordered table-condensed">
	 {% if pkg_dict.maintainer %}
         <tr>
            <th scope="row" class="dataset-label">{{ _("Name") }}</th>
            <td class="dataset-details" property="dc:creator">{{ pkg_dict.maintainer }}</td>         
          </tr>
	  {% endif %}
          {% if  pkg_dict.maintainer_email %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("E-mail") }}</th>
            <td class="dataset-details" property="dc:creator">{{ h.mail_to(email_address=pkg_dict.maintainer_email, name=pkg_dict.maintainer_email) }}
			 <i class="icon-envelope" style=" padding-left:10px; color:#187794;"></i></td>   
          </tr>
          {% endif %}
         {% if pkg_dict.maintainer_identifier %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("Identificativo") }}</th>
            <td class="dataset-details" property="dc:creator">{{pkg_dict.maintainer_identifier }}</td>         
          </tr>
          {% endif %}
</table> 
{% endif %}




<h2>
	{{'Date riguardo la scheda del catalogo'}}
</h2>  
<table class="table table-striped table-bordered table-condensed">


        {% if pkg_dict.metadata_modified %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("Ultimo aggiornamento scheda") }}</th>
            <td class="dataset-details">
                {{ h.custom_date(pkg_dict.metadata_modified) }}
            </td>
          </tr>
        {% endif %}
	{% if pkg_dict.metadata_created %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("Creazione scheda") }}</th>

            <td class="dataset-details">
					{{ h.custom_date(pkg_dict.metadata_created) }}
            </td>
          </tr>
        {% endif %}	
	{% if pkg_dict.temporal_start or pkg_dict.temporal_end  %}
	<tr>
	   <th scope="row" class="dataset-label">{{ _("Copertura Temporale") }}</th>
		<td class="dataset-details">
 		{% if pkg_dict.temporal_start %}
			Dal {{ h.custom_date(pkg_dict.temporal_start) }}
		{% endif %}
		 {% if pkg_dict.temporal_end %}
			al {{ h.custom_date(pkg_dict.temporal_end) }}
		{% endif %}
		</td>
    </tr>
  {% endif %}
        
</table>



<h2>
		{{'Date riguardo il dato fisico'}}

</h2>  
<table class="table table-striped table-bordered table-condensed">

		<tr>
		<th scope="row" class="dataset-label">{{ _("Data di Creazione del dato") }}</th>

		<td class="dataset-details">
		{% if pkg_dict.issued %}	
		{{ h.custom_date(pkg_dict.issued) }}
		{% elif pkg_dict.data_di_creazione_dato %} 
		{{ h.custom_date(pkg_dict.data_di_creazione_dato) }}
		{% else %} 
		{{_("N/A")}} 
		{% endif %}</td>
		</tr>

		<!-- tolto modified -->
		
		{% if pkg_dict.data_di_pubblicazione_dato %}
		<tr>
		<th scope="row" class="dataset-label">{{ _("Data di Pubblicazione del dato") }}</th>
		<td class="dataset-details">
				{{ h.custom_date(pkg_dict.data_di_pubblicazione_dato) }}
		</td>
		</tr>
		{% endif %}
		

		

</table>




</br>
  <h2>
		{{ _('Additional Info') }}

</h2>
  <table class="table table-striped table-bordered table-condensed">
    <tbody>
      {% block package_additional_info %}
		{% if pkg_dict.url %}

		{% set list = pkg_dict.url.split(',') %}
			  <tr>
				<th scope="row" class="dataset-label">{{ _("Source") }}</th> 
					<td class="dataset-details" property="foaf:homepage">
					{% if list|length >1 %}
						<ul>
						{% for elem in list  %}
						<li>{{ h.link_to(elem, elem, rel='foaf:homepage', target='_blank') }}	</li>
						{% endfor %}
						</ul>
					{% else %}
					{{ h.link_to(list[0], list[0], rel='foaf:homepage', target='_blank') }}
					{% endif %}
			  		</td>
			  </tr>
	{% endif %}
  









      {% block extras scoped %}

	{% block dcatapit_additional_info %}
			{% set schema_fields = h.get_dcatapit_package_schema() %}

			{% for field in schema_fields %}	  

				{% if field.add_to_extra %}

				  	{% if field.element == 'couple' %}

				  		{% set couples = h.couple_to_html(field.couples, pkg_dict)%}

		  		        <tr>
					      <th scope="row" class="dataset-label">{{ field.label }}</th>
				          <td class="dataset-details">
				          	{% if couples %}
					          	{% for couple in couples %}
					          		{{ couple or _('N/D') }} <br/>
					          	{% endfor %}
				          	{% else %}
				          		{{ _('N/D') }}
				          	{% endif %}
				          </td>
					    </tr>

					{% else %}

						{% if pkg_dict[field.name] %}
			
							{# -- get_localized_field_value call can be omitted because ckanext-multilang and custom fields localization methods in this plugin do this automatically -- #}
							{#% set field_localized = h.get_vocabulary_items(field.vocabulary_name, pkg_dict[field.name][1:-1].split(",") if ',' in pkg_dict[field.name] else [pkg_dict[field.name]]) if field.type == 'vocabulary' else h.get_localized_field_value(pkg_dict[field.name], pkg_dict['id'])%}
					  		{% set value_field = field_localized or pkg_dict[field.name]%#}

					  		{% set value_field = h.get_vocabulary_items(field.vocabulary_name, pkg_dict[field.name][1:-1].split(",") if ',' in pkg_dict[field.name] else [pkg_dict[field.name]]) if field.type == 'vocabulary' else pkg_dict[field.name]%}

						  	{% if value_field is iterable and value_field is not string %}
							  	<tr>
							      <th scope="row" class="dataset-label">{{ field.label }}</th>
							      <td class="dataset-details">{{ h.list_to_string(value_field, field.format) or field.default or _('N/D') }}
							
								{% if h.list_to_string(value_field, field.format) in ('ITA', 'ita', 'italiano') %}
								<img src="https://cdn2.iconfinder.com/data/icons/waving-world-flags/512/Italy-128.png" style="padding-left:10px"  width="20">
								{% endif %}
								</td>
								


							    </tr>
							{% else %}
						        <tr>
							      <th scope="row" class="dataset-label">{{ field.label }}</th>
								  {% if h.is_url(value_field) %}
						          	<td class="dataset-details">{{ h.link_to(value_field, value_field, rel='', target='_blank') or field.default or _('N/D') }}</td>
						          		{% else %}
						         	<td class="dataset-details">{{ h.format(value_field, field.format, field.type) or field.default or _('N/D') }}</td>
						          {% endif %}
							    </tr>
						    {% endif %}

					    {% else %} {# if not pkg_dict[field.name] #}
							
							{% if not field.hide_if_absent %}
					    	<tr>
							    <th scope="row" class="dataset-label">{{ field.label }}</th>
								<td class="dataset-details">{{ field.default or _('N/D') }}</td>
							</tr>		
							
							{% endif %}
		    	
					    {% endif %}

				  	{% endif %}

			  	{% endif %}	  

			{% endfor %}

		{% endblock %}



<!-- ############################ CONFORMITA' split su pipe
-->


  {% if pkg_dict.conforms_to %}
  	{% set list = pkg_dict.conforms_to.split('|') %}
    		<tr>
      		<th scope="row" class="dataset-label">{{ _("Conformita'") }}</th> 
      			<td class="dataset-details">
			{% if list|length >1 %}
				<ul>
				{% for tag in list  %}
				{% if (tag!="n.d.")  %}

				<li>{{ tag }}	</li>
				{% endif %}

				{% endfor %}
				</ul>
			{% else %}
				{{ list[0] }}
			{% endif %}
			</td>
    		</tr>
  {% endif %}



  {% if c.categorie %}
  <tr>
		<th scope="row" class="dataset-label">{{ _("Tema GEMET") }}</th>
		   <td class="dataset-details">
  {% if c.categorie|length >1 %}
  <ul>
	   {% for key, value in c.categorie.iteritems() %}
		  <li>
	  <a href={{ value }} target="_blank">
			  {{ key |replace("- ", ", ") }}
	  </a>
	  </li>
			{% endfor %}
  </ul>
  {% else%}
	  {% for key, value in c.categorie.iteritems() %}
	  <a href={{ value }} target="_blank">
			  {{ key |replace("- ", ", ") }}
	  </a>
	  {% endfor %}
  {% endif %}
		</td>
	  </tr>
{% endif %}


{% if c.gemet %}
  <tr>
		<th scope="row" class="dataset-label">{{ _("Categoria GEMET") }}</th>
		   <td class="dataset-details">
  {% if c.gemet|length >1 %}
  <ul>
	   {% for key, value in c.gemet.iteritems() %}
		  <li>
	  <a href={{ value }} target="_blank">
			  {{ key|capitalize |replace("- ", ", ") }}
	  </a>
	  </li>
			{% endfor %}
  </ul>
  {% else%}
	  {% for key, value in c.gemet.iteritems() %}
	  <a href={{ value }} target="_blank">
			  {{ key|capitalize |replace("- ", ", ") }}
	  </a>
	  {% endfor %}
  {% endif %}
		</td>
	  </tr>
{% endif %}


  {% if pkg_dict.ico_categoria_eurovoc %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Categoria EUROVOC") }}</th>
      <td class="dataset-details"> <a href={{ pkg_dict.ico_url_eurovoc }} target="_blank">{{ pkg_dict.ico_categoria_eurovoc }}</a></td>
    </tr>
  {% endif %}

  {% if pkg_dict.ico_sottocategoria_eurovoc %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Sottocategoria EUROVOC") }}</th>
      <td class="dataset-details"> <a href={{ pkg_dict.ico_url_sottocategoria_eurovoc }} target="_blank">{{ pkg_dict.ico_sottocategoria_eurovoc }}</a></td>
    </tr>
  {% endif %}

<!--
  {% if pkg_dict.ico_vocabolario_TAmbientale %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Tematica Ambientale") }}</th>
	  <td class="dataset-details">
		{% for tag in pkg_dict.ico_vocabolario_TAmbientale %}
			{{tag}} ,
		{% endfor %}
	  </td>
    </tr>
  {% endif %}


  {% if pkg_dict.ico_vocabolario_stTematica_ambientale %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Sottotematica Ambientale") }}</th>
      <td class="dataset-details">
		{% for tag in pkg_dict.ico_vocabolario_stTematica_ambientale %}
			{{tag}} ,
		{% endfor %}
	  </td>
    </tr>
  {% endif %}

-->


  {% if pkg_dict.ico_vocabolario_Finanziamenti %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Finanziamenti") }}</th>
      <td class="dataset-details">
		{% for tag in pkg_dict.ico_vocabolario_Finanziamenti %}
			{{tag}},
		{% endfor %}
	  </td>
    </tr>
  {% endif %}




{% for extra in h.sorted_extras(pkg_dict.extras) %}
          {% set key, value = extra %}

	{% if key not in ('black_list', 'load_rdf_job_identifier', 'load_rdf_job_start')%}

          <tr rel="dc:relation" resource="_:extra{{ i }}">
            <th scope="row" class="dataset-label" property="rdfs:label">{{ _(key)|title }}</th>
            <td class="dataset-details" property="rdf:value">

		{%if value !="" %}
 			{{ value }}
		{% else %}
			{{ _('N/D') }}
		{% endif %}
		</td>
          </tr>

	{% endif %}

        {% endfor %}


	
      {% endblock %}

      {% endblock %}
    </tbody>
  </table>
</section>
