<!--  VARIABLES FROM PYTHON EXTENSION -->
{%set num_datasets = h.get_numDatasets()%} {%set num_groups = h.get_numGroups()%} {%set num_risorse = h.get_numResources()%}
{%set tags = h.get_tags() %} {%set apps = h.get_app() %} {%set apps_full = h.get_app_full() %} {%set services = h.get_services()
%} {%set services_full = h.get_services_full() %}




<!-- CSS and JS stanno nell'estensione dashboard!!!!-->

{% block styles %}
 {# Import css and js using Fanstatic. 'dash/' is the name that the dashboard/fanstatic directory was registered
	with when the toolkit.add_resource() function was called. 'dashboard.css' is the path to the CSS file, relative to the root
	of the fanstatic directory. #} 
{% endblock %}


<div class="module-content box span12" style="padding:0px; margin-bottom:25px; text-align: center;">
<h4 style=" font-size: 15px !important; padding:20px; margin:0; ">
	<i  >
		<i style="padding:5px; margin:0; font-size: 20px !important;" class="icon-info-sign"></i>
		Su questo portale la D.G. Cura del Territorio ed Ambiente rende disponibili informazioni su una parte delle banche dati detenute
		che concorrono a creare il quadro conoscitivo a supporto dell'attuazione della nuova legge urbanistica. 
		Nel corso dell'anno verranno integrate progressivamente con informazioni relative ad ulteriori banche dati fino a rendere
		disponibile il quadro completo dell'informazione detenuta dalla Direzione.
	</i>
</h4>
</div>


<!-- BOX STATISTICHE -->
<div class="module-content box span12" style="padding:0px;">
	<div class="module-content box span12" style=" background-color: #005d7a;padding:0px;">
		<h2 class="header" style="font-size:24px; color:white ; padding-left:20px ">Statistiche</h2>
	</div>
</div>


<div class="module-content box span12" style="margin:0 auto;   top: 50%;
  left: 50%;  padding: 0; ">
	<div class="container " style="margin-top:20px; padding:3px ">

		<div class="row" style=" padding-top:0%">
			<!--primi 3 divs-->

			
				<div class="span3 rounded lightBlue" style="">
<a href="dataset" >
					<div class="row">
						<div class="span3">
							<img style="width: 85%;" src="base/images/dashboard/db.png">
						</div>
						<div class="span3" style="color:#003647;  padding-right:5px ">
							<h1 class="header"> {{num_datasets}}</h1>
							<h4> DATASET </h4>
						</div>
					</div>
</a>
				</div>
				<!-- end span4 -->
			

			
				<div class="span3 rounded lightBlue" style="">
<a href="dataset?q=-num_resources%3A0">
					<div class="row">
						<div class="span3">
							<img style="width: 62%;" id="img " src="base/images/dashboard/ris.png">
						</div>
						<div class="span3" style=" color:#003647 ">
							<h1> {{num_risorse}} </h1>
							<h4> RISORSE </h4>
						</div>
					</div>
</a>
				</div>
				<!-- end span4 -->
			

			
				<div class="span3 rounded lightBlue" style="padding-bottom:6px;">
<a href="group">
					<div class="row">
						<div class="span3">
							<img style="width: 81%;" id="img " src="base/images/dashboard/groups.png">
						</div>
						<div class="span3" style=" color:#003647">
							<h1>{{num_groups}}</h1>
							<h4> GRUPPI </h4>
						</div>
					</div>
</a>
				</div>
				<!-- end span4 -->
			


		</div>
		<!--endrow-->


		<!-- CLOUD -->
		<div class="row" style="margin-top:30px; margin-bottom:30px">
			<div id="cloud" class="span11" style="text-align:center; padding-top:10px; margin-bottom:0">



				<script type="text/javascript">
					function escapeRegExp(str) {
						return str.replace(/([.*+?^=!:${}()|\[\]\/\\])/g, "\\$1");
					}
					function replaceAll(str, find, replace) {
						return str.replace(new RegExp(escapeRegExp(find), 'g'), replace);
					}

					
					var str = '{{tags}}';
					str = replaceAll(str, "&#34;", '"');
					str = replaceAll(str, "&#39;", '');

					var frequency_list = JSON.parse(str);
					var w = window.innerWidth / 2.5;
					var h = 600;
					var user = '{{c.user}}';


					var fill = d3.scale.category10(); 
					// scala i colori della cloud 
					// https://github.com/d3/d3-3.x-api-reference/blob/master/Ordinal-Scales.md#categorical-colors

					function colores_google(n) {
						var colores_g = ["#3366cc", "#dc3912", "#ff9900", "#109618", "#990099", "#0099c6", "#dd4477", "#66aa00", "#b82e2e", "#316395", "#994499", "#22aa99", "#aaaa11", "#6633cc", "#e67300", "#8b0707", "#651067", "#329262", "#5574a6", "#3b3eac"];
							//["#DC1111", "#800000", "#008000", "#008080", "#000080", "#800080"];
						return colores_g[n % colores_g.length];
					}

					function draw(words) {

						d3.select("#cloud").append("svg") //where to insert the cloud
									.attr("width", w)
										.attr("height", h)
											.append("g")
											.attr("transform", "translate(" + w / 2 + "," + h / 2 + ")")
												.selectAll("text")
												.data(words)
												.enter().append("text")
												.style("font-size", function (d) { return (d.size) + "px"; })
												.style("font-family", "Impact")
												//.style("fill", function (d, i) { return fill(i); })
												.style("fill", function(d,i) { return colores_google(i); })							
												.attr("text-anchor", "middle")
												.attr("transform", function (d) {
													return "translate(" + [1.1*d.x, 1.3*d.y] + ")rotate(" + d.rotate + ")";
												})
												.text(function (d) { return d.text; })
												.on("mouseover", function (d) {
													d3.select(this).style("cursor", "pointer")
												})
												.on("click", function (d, i) {
													window.open("dataset?q=tags%3A\"" + d.text + "\"", '_self', false);
									});
							}

							
					var maxximo = frequency_list[0].size;



					if (user != "" && user != "opendata_member") {
											d3.layout.cloud().size([w, h])
												.words(frequency_list)
												.padding(0.005 * w)
												.rotate(function (d) { return ~~(0.2 * 2) * 90; })
												//.font("Impact")
												.text(function (d) { return d.text; })
												.fontSize(function (d) { return Math.sqrt(d.size * 20); })
												.on("end", draw)
												.start();
										}
										else {

											d3.layout.cloud().size([w, h])
												.words(frequency_list)
												.padding(0.005 * w)
												.rotate(function (d) { return ~~(0.2 * 2) * 90; })
												//.font("Impact")
												.text(function (d) { return d.text; })
												.fontSize(function (d) { 
													if (maxximo<8 ){
													return Math.sqrt(d.size * 200);}
														else {
														return Math.sqrt(d.size * 60);
														}
														})
												.on("end", draw)
												.start();

										}

										



				</script>

			</div>
			<!-- end cloud div-->

		</div>
		<!--end row-->





		<!-- ISTOGRAMMI-->
		<div class="row" style="margin:0 auto;padding-left:0%;margin-bottom:20px;">

			<div class="span5 rounded lightBlue ist " id="isto2" style="padding: 10px;padding-bottom:27px; margin-top:0">




			<a href='dataset?q=-ico_applicazione_utilizza_banca_dati%3A""' style="color: #003647">
				<div class="row " style="margin-top:5px; text-align:center">
					<h1 class="header">

						<script>
							var str = '{{apps}}';
							str = replaceAll(str, "&#34;", '"');
							str = replaceAll(str, "&#39;", '');
							str = replaceAll(str, "\n", '');
							var datas = JSON.parse(str);
							
							document.write(datas.count);
							
						</script>

					</h1>
					<h4 style="padding-top:0px;"> APPLICAZIONI </h4>
				</div>
			</a>
				<!-- end row -->

				<div style=" background-color:#d3d3d3;
								padding: 5px;
								font-weight: bold; text-align:center; font-style:italic">

					Top 5


				</div>




				<div class="row aprilo" style=" margin-top:0px; border-color: white ">

					<div class="span6 " style=" width:100%;padding-top: 0px; margin:0;">
						<canvas id="myChart2" width="80%" height="50%"></canvas>
						

						<script>
							/**$(".colla").click(function () {

								$colla = $(this);
								//getting the next element
								$aprilo_full = $colla.next();

								$aprilo = $colla.prev();
								//open up the content needed - toggle the slide- if visible, slide up, if not slidedown.
								$aprilo_full.slideToggle(500, function () {
									//execute this after slideToggle is done
									//change text of header based on visibility of content div
									$colla.text(function () {
										//change text based on condition
										return $aprilo_full.is(":visible") ? "Nascondi app secondarie" : "Mostra di più";
									});
								});

							});*/


							function getMaxOfArray(numArray) {
								return Math.max.apply(null, numArray);
							}




							var ctx = document.getElementById("myChart2");
							var str = '{{apps}}';

							str = replaceAll(str, "&#34;", '"');
							str = replaceAll(str, "&#39;", '');
							str = replaceAll(str, "\n", '');
							var data = JSON.parse(str);
							var labels = data.labels;
							var lx = []


							for (elem in labels) {
								tmp = labels[elem];
								if (labels[elem].length > 30) {
									labels[elem] = labels[elem].substring(0, 30) + "...";
								}
								lx[labels[elem]] = tmp;
							}


							var dati = data.data;
							var max = getMaxOfArray(dati);
							var myChart2 = new Chart(ctx, {
								type: 'horizontalBar',
								data: {
									labels: labels,//["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
									datasets: [{
										label: '# di Dataset',
										data: dati,// [12, 19, 3, 5, 2, 3],
										backgroundColor: [ 
											'#C00000',
											'#4040FF',
											'#FF8000',
											'#008000',
											'#800080',
											'rgba(255, 159, 64, 0.2)'
										],
										borderColor: [
											'rgba(255,99,132,1)',
											'rgba(54, 162, 235, 1)',
											'rgba(255, 206, 86, 1)',
											'rgba(75, 192, 192, 1)',
											'rgba(153, 102, 255, 1)',
											'rgba(255, 159, 64, 1)'
										],
										borderWidth: 1
									}]
								},
								options: {
									legend: {
										display: true,
										labels: {
											fontColor: 'black',
											boxWidth: 0
										}
									},

									scales: {
										yAxes: [{
											ticks: {
												fontSize: 9,
												fontColor: 'black',
												beginAtZero: true
											},
											gridLines: {
												display: false
											}
										}],

										xAxes: [{
											ticks: {
												beginAtZero: true,
												max: Math.ceil(max)
											},
											gridLines: {
												display: false
											}
										}]
									}
								}
							});



							document.getElementById("myChart2").onclick = function (evt) {
								var activePoints = myChart2.getElementsAtEvent(evt);
								var firstPoint = activePoints[0];
								var label = myChart2.data.labels[firstPoint._index];
								var value = myChart2.data.datasets[firstPoint._datasetIndex].data[firstPoint._index];
								//window.alert(lx[label]);
								if (firstPoint !== undefined)
									window.open("dataset?q=ico_applicazione_utilizza_banca_dati%3A\"" + lx[label] + "\"", '_self', false);
							};
						</script>


					</div>
				</div>



				<div class="colla" style=" background-color:#d3d3d3; padding: 5px; cursor: pointer; font-weight: bold; text-align:center; font-style:italic">

					Vedi tutte le altre applicazioni

				</div>

				<!--NEW ########################-->
				<div class="row aprilo" style="display: none; margin-top:0px; border-color: white ">

					<div class="span6 " style=" width:100%;padding-top: 0px; margin:0;">
						<canvas id="myChart2_full" width="80%" height="100%"></canvas>

						<script>
								var ctx = document.getElementById("myChart2_full");
								var str = '{{apps_full}}';

								str = replaceAll(str, "&#34;", '"');
								str = replaceAll(str, "&#39;", '');
								str = replaceAll(str, "\n", '');
								var data = JSON.parse(str);
								var labels = data.labels;
								var apri = labels.length;
								var lx2 = []


								for (elem in labels) {
									tmp = labels[elem];
									if (labels[elem].length > 30) {
										labels[elem] = labels[elem].substring(0, 30) + "...";
									}
									lx2[labels[elem]] = tmp;
								}


								var dati = data.data;

								var myChart2_full = new Chart(ctx, {
									type: 'horizontalBar',
									data: {
										labels: labels,//["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
										datasets: [{
											label: '# di Dataset',
											data: dati,// [12, 19, 3, 5, 2, 3],
											backgroundColor: [

											],
											borderColor: [

											],
											borderWidth: 1
										}]
									},
									options: {
										legend: {
											display: true,
											labels: {
												fontColor: 'black',
												boxWidth: 0
											}
										},

										scales: {
											yAxes: [{
												ticks: {
													fontSize: 9,
													fontColor: 'black',
													beginAtZero: true
												},
												gridLines: {
													display: false
												}
											}],

											xAxes: [{
												ticks: {
													beginAtZero: true,
													max: Math.ceil(max)
												},
												gridLines: {
													display: false
												}
											}]
										}
									}
								});












								document.getElementById("myChart2_full")
									.onclick = function (evt) {
										var activePoints = myChart2_full.getElementsAtEvent(evt);
										var firstPoint = activePoints[0];
										var label = myChart2_full.data.labels[firstPoint._index];
										var value = myChart2_full.data.datasets[firstPoint._datasetIndex].data[firstPoint._index];
										if (firstPoint !== undefined)
											window.open("dataset?q=ico_applicazione_utilizza_banca_dati%3A\"" + lx2[label] + "\"", '_self', false);
									};


								if (datas.count > 5) {

									$(".colla").click(function () {

										$colla = $(this);
										//getting the next element
										$aprilo_full = $colla.next();

										$aprilo = $colla.prev();
										//open up the content needed - toggle the slide- if visible, slide up, if not slidedown.
										$aprilo_full.slideToggle(function () {

											//execute this after slideToggle is done
											//change text of header based on visibility of content div
											$colla.text(function () {
												//change text based on condition
												return $aprilo_full.is(":visible") ? "Nascondi secondarie" : "Mostra di più";
											});
										});

									});
								}
								else {
									$(".colla").text("Nessun'altra applicazione disponibile");
								}
						</script>


					</div>
				</div>















			</div>
			<!-- end span 6-->





			<!-- ############### SERVIZI -->

			<div class="span5 rounded lightBlue ist" id="isto2" style="padding: 10px; padding-bottom:27px; margin-top:0">

				<a href='dataset?q=-publisher_name%3A""' style="color: #003647">
				<div class="row" style="margin-top:5px;  text-align:center">
					<h1 class="header">

						<script>
							var str = '{{services}}';
							str = replaceAll(str, "&#34;", '"');
							str = replaceAll(str, "&#39;", "");
							str = replaceAll(str, "\n", '');
							var data3 = JSON.parse(str);
							document.write(data3.count)
						</script>

					</h1>
					<h4 style="padding-top:0px;"> STRUTTURE DI RIFERIMENTO <br> </h1>




				</div></a>
				<!-- end row -->

				<div style=" background-color:#d3d3d3; padding: 5px; font-weight: bold; text-align:center; font-style:italic">

					Top 5

				</div>



				<div class="row aprilo2" style="  margin-top:0px; border-color: white ">

					<div class="span6" style="width:100%;padding-top: 0px; margin:0;">
						<canvas id="myChart3" width="80%" height="50%"></canvas>

						<script>
							function getMaxOfArray(numArray) {
								return Math.max.apply(null, numArray);
							}

							var ctx = document.getElementById("myChart3");
							var str = '{{services}}';

							str = replaceAll(str, "&#34;", '"');
							str = replaceAll(str, "&#39;", "'");
							str = replaceAll(str, "\n", '');
							var data = JSON.parse(str);
							var labels = data.labels;

							var l = []


							for (elem in labels) {
								tmp = labels[elem]
								if (labels[elem].length > 30) {
									labels[elem] = labels[elem].substring(0, 30) + "...";
								}
								l[labels[elem]] = tmp;
							}

							var dati = data.data;
							var max = getMaxOfArray(dati);
							//window.alert(max);

							var myChart3 = new Chart(ctx, {
								type: 'horizontalBar',
								data: {
									labels: labels,//["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
									datasets: [{
										label: '# di Dataset',
										data: dati,// [12, 19, 3, 5, 2, 3],
										backgroundColor: [
											'#C00000',
											'#4040FF',
											'#FF8000',
											'#008000',
											'#800080',
											'rgba(255, 159, 64, 0.2)'
										],
										borderColor: [
											'rgba(255,99,132,1)',
											'rgba(54, 162, 235, 1)',
											'rgba(255, 206, 86, 1)',
											'rgba(75, 192, 192, 1)',
											'rgba(153, 102, 255, 1)',
											'rgba(255, 159, 64, 1)'
										],
										borderWidth: 1
									}]
								},
								options: {
									legend: {
										display: true,
										labels: {
											fontColor: 'black',
											boxWidth: 0
										}
									},


									scales: {
										yAxes: [{
											ticks: {
												fontSize: 9,
												fontColor: 'black',
												beginAtZero: true
											},
											gridLines: {
												display: false
											}
										}],

										xAxes: [{
											ticks: {
												beginAtZero: true,
												max: Math.ceil(max / 50) * 50,
												stepSize: 300
											},
											gridLines: {
												display: false
											}
										}]
									}
								}
							});




							document.getElementById("myChart3")
								.onclick = function (evt) {
									var activePoints = myChart3.getElementsAtEvent(evt);
									var firstPoint = activePoints[0];
									var label = myChart3.data.labels[firstPoint._index];
									//var value = myChart3.data.datasets[firstPoint._datasetIndex].data[firstPoint._index];
									if (firstPoint !== undefined)
										window.open("dataset?q=publisher_name%3A\"" + l[label] + "\"", '_self', false);
								};
						</script>


					</div>
				</div>

				
				<div class="colla2" style=" background-color:#d3d3d3;
							padding: 5px;
							cursor: pointer;
							font-weight: bold; text-align:center; font-style:italic">

					Vedi le altre strutture di riferimento


				</div>


				<div class="row aprilo2" style=" display: none; margin-top:0px; border-color: white ">

					<div class="span6" style="width:100%;padding-top: 0px; margin:0;">
						<canvas id="myChart4" width="80%" height="200%"></canvas>

						<script>
								function getMaxOfArray(numArray) {
									return Math.max.apply(null, numArray);
								}

								var ctx = document.getElementById("myChart4");
								var str = '{{services_full}}';

								str = replaceAll(str, "&#34;", '"');
								str = replaceAll(str, "&#39;", "'");
								str = replaceAll(str, "\n", '');
								var data = JSON.parse(str);

								var labels = data.labels;
								var apri = labels.length;

								var l2 = []


								for (elem in labels) {
									tmp = labels[elem]
									if (labels[elem].length > 30) {
										labels[elem] = labels[elem].substring(0, 30) + "...";
									}
									l2[labels[elem]] = tmp;
								}

								var dati = data.data;

								//window.alert(max);






								var myChart4 = new Chart(ctx, {
									type: 'horizontalBar',
									data: {
										labels: labels,//["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
										datasets: [{
											label: '# di Dataset',
											data: dati,// [12, 19, 3, 5, 2, 3],
											backgroundColor: [

											],
											borderColor: [

											],
											borderWidth: 1
										}]
									},
									options: {
										legend: {
											display: true,
											labels: {
												fontColor: 'black',
												boxWidth: 0
											}

										},


										scales: {
											yAxes: [{
												ticks: {
													fontSize: 9,
													fontColor: 'black',
													beginAtZero: true
												},
												gridLines: {
													display: false
												}
											}],

											xAxes: [{
												ticks: {
													beginAtZero: true,
													max: 200,
													stepSize: 20
												},
												gridLines: {
													display: false
												}
											}]
										}
									}
								});


								if (data3.count > 5) {
									$(".colla2").click(function () {

										$colla = $(this);
										//getting the next element
										$aprilo_full = $colla.next();

										$aprilo = $colla.prev();
										//open up the content needed - toggle the slide- if visible, slide up, if not slidedown.
										$aprilo_full.slideToggle(function () {

											//execute this after slideToggle is done
											//change text of header based on visibility of content div
											$colla.text(function () {
												//change text based on condition
												return $aprilo_full.is(":visible") ? "Nascondi secondarie" : "Mostra di più";
											});
										});

									});
								}
								else {
									$(".colla2").text("Nessun'altra struttura disponibile");
								}

								document.getElementById("myChart4")
									.onclick = function (evt) {
										
										var activePoints = myChart4.getElementsAtEvent(evt);
										var firstPoint = activePoints[0];
										var label = myChart4.data.labels[firstPoint._index];
										//var value = myChart4.data.datasets[firstPoint._datasetIndex].data[firstPoint._index];
										if (firstPoint !== undefined)
											window.open("dataset?q=publisher_name%3A\"" + l2[label] + "\"", '_self', false);
									};
						</script>




					</div>
				</div>










			</div>
			<!-- end span 6-->


		</div>
		<!--end row-->

	</div>
	<!-- end container-->
</div>
<!-- end boxdash-->