{% ckan_extends %}

{% block resources %}
  {% if package.resources and not hide_resources %}
    {% block resources_outer %}
      <ul class="dataset-resources unstyled">
        {% block resources_inner %}
          {% set dcatapit_resources = h.get_package_resource_dcatapit_format_list(package.resources, 'en_GB') %}
          {% if dcatapit_resources and dcatapit_resources|length > 0 %}
            {% for resource in dcatapit_resources %}
              {% if resource %}
                <li>
                  <a href="{{ h.url_for(controller='package', action='read', id=package.name) }}" class="label" data-format="{{ resource.lower() }}">{{ resource }}</a>
                </li>
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endblock %}
      </ul>
    {% endblock %}
  {% endif %}
{% endblock %}
