{% extends "base.html" %}

{# 
<center>
Nella pagina dovranno essere fatti vedere i dataset del geoportale con risorsa opendata ma non ancora "pubblici" e un bottone per renderli tali.
</br>
Inoltre si devono vedere i dataset con risorsa RDF con metadato "endopint SPARQL" non ancora valorizzato e bottone per renderlo "pubblico"
e per invocare il servizio loadRDF di SinerGIS.
</br>
Da mostrare anche quando la richiesta e' stata fatta (data di invocazione servizio) e l'esito (magari con opportuni metadati nascosti)
#}

			


{% block subtitle %}{{ _('OpenData') }}{% endblock %}

{%- block page -%}

  {% block skip %}
	<div class="hide"><a href="#content">{{ _('Skip to content') }}</a></div>
  {% endblock %}


  {%- block header %}
    {% include "header.html" %}
  {% endblock -%}

  {# The content block allows you to replace the content of the page if needed #}
  {%- block content %}
    {% block maintag %}<div role="main">{% endblock %}
      <div id="content" class="container">
        {% block main_content %}
          
          {% block toolbar %}
            <div class="toolbar">
              {% block breadcrumb %}
                {% if self.breadcrumb_content() | trim %}
                  <ol class="breadcrumb">
                    {% snippet 'snippets/home_breadcrumb_item.html' %}
                    {% block breadcrumb_content %}{% endblock %}
                  </ol>
                {% endif %}
              {% endblock %}
            </div>
          {% endblock %}


<div class="module-content box boxDash"  style="padding:0px; ">
    <div class="container "
			style=" background-image:url(http://www.easygov.it/media/page/easygov-servizio-open-data-2137-it.jpg); padding:0px;">
      <center>  <h1 class="header" style=" color:white ; padding-left:20px ">OpenData Form</h1> </center>
	    <h2 class="header" style="font-size:20px; color:white ; padding-left:20px ">

		</h2>
	</div>
</div>


<div class="module-content box boxDash"  style="padding:0px;">
  <div class="container "style="margin-top:20px; padding:3px ">


	<div class="row">
		<div class="span6 "style="  padding:0px" >


			 <form method="POST" data-module="basic-form">
			  <table class="table table-bordered table-header table-hover table-bulk-edit table-edit-hover" data-module="table-selectable-rows">
					  <col width="10">
					  <col width="100">
					  <thead>
						<tr>
						  <th></th>
						  <th class="table-actions">
						  <center style="padding-bottom:15px; font-size:20px;">
						  {%- if c.target -%}
							Trovati {{ c.target|count }} dataset privati </br>con risorse open 
						  {%- else -%}
							{{ _('Nessun dataset privato con risorse open... ')}}
						  {%- endif -%}</br>
						  </center>
							<div class="btn-group">
								<button id="private_botton" class="btn" type="button">
									<i class="icon-eye-open"></i>
										{{ _('Make public') }}
								</button>
							  </div>
						  </th>
						</tr>
					  </thead>



					  <tbody>
						{% for package in c.target %}
						  {% set truncate = truncate or 180 %}
						  {% set truncate_title = truncate_title or 80 %}
						  {% set title = package.title or package.name %}
						  {% set notes = h.markdown_extract(package.notes, extract_length=truncate) %}
						  <tr>
							<td>
							<input type="checkbox" name="target" value="{{ package.name }}" >
							</td>
							<td class="context">
							  <h3 class="dataset-heading">
								{{ h.link_to(h.truncate(title, truncate_title), h.url_for(controller='package', action='read', id=package.name)) }}
								{% if package.private %}
								  <span class="label label-important">{{ _('Private') }}</span>
								{% endif %}
							  </h3>
							  {% if notes %}
								<p>{{ notes|urlize }}</p>
							  {% endif %}
							</td>
						  </tr>
						{% endfor %}
						</tbody>
					</table>						  			  
							  
				</form>
			</div> <!-- end left side-->
			

		<div class="span6 "style="margin-left:3px; padding:0px" >


			 <form method="POST" data-module="basic-form">
			  <table class="table table-bordered table-header table-hover table-bulk-edit table-edit-hover" data-module="table-selectable-rows">
					  <col width="8">
					  <col width="80">
					  <col width="40">
					  <thead>
						<tr>
						  <th></th>
						  <th class="table-actions">
						  <center style="padding-bottom:15px; font-size:20px;">
						  {%- if c.rdf -%}
							Trovati {{ c.rdf|count }} dataset </br>con risorsa RDF
						  {%- else -%}
							{{ _('Nessun dataset con risorsa RDF... ')}}
						  {%- endif -%}</br>
						  </center>

						  </th>
						  <th></th>
						</tr>
						
					  </thead>



					  <tbody>
						{% for package in c.rdf %}
						  {% set truncate = truncate or 180 %}
						  {% set truncate_title = truncate_title or 80 %}
						  {% set title = package.title or package.name %}
						  {% set notes = h.markdown_extract(package.notes, extract_length=truncate) %}
						  <tr>
							<td>
							<input type="checkbox" name="rdf" value="{{ package.name }}" >
							</td>
							
							<td class="context">
							
							  <h3 class="dataset-heading">
							  
								{{ h.link_to(h.truncate(title, truncate_title), h.url_for(controller='package', action='read', id=package.name)) }}
							  </h3>
							  {% if notes %}
								<p>{{ notes|urlize }}</p>
							  {% endif %}
							</td>
							
							<th>
							{% if package.load_rdf_job_start %}
							<h6 style="color:red">
								JOB {{package.load_rdf_identifier}} RUNNING...</br>
								START: {{package.load_rdf_job_start}}
							</h6>
							{% else%}
							<div class="btn-group">
									<button id="rdf_botton" class="btn btn-primary" type="button">
								
									{{ _('loadRDF') }}
									</button>
							 </div>
							{% endif %}
							</th>
							
						  </tr>
						{% endfor %}
						</tbody>
					</table>						  			  
							  
				</form>
				

				
			</div> <!-- end right side-->			
			
			
			
			
	
			
			
			
			
		</div>
	</div>
</div><!-- ENDBOXDASH-->



       {% endblock %}
      </div> <!--end content-->
    </div> <!--endmain-->
{% endblock -%}


{%- block scripts %}
    {% resource 'base/main' %}
    {% resource 'base/ckan' %}
    {% if g.tracking_enabled %}
      {% resource 'base/tracking.js' %}
    {% endif %}
  {{ super() }}
{% endblock -%}




								



<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>

<script type="text/javascript">

var json = {};


//PRIVATE BUTTON

    $(document).ready(function() {
        $("#private_botton").click(function(){
            var favorite= [];
            $.each($("input[name='target']:checked"), function(){            
                favorite.push($(this).val());
            	});
	    favorite = favorite.join(", ");

	    $.ajax({
		url:"/api/action/custom_update",
			type:"POST", 
			data:'{"target":"'+favorite+'"}',
			dataType: "json",
			success: function(resp){
				console.log(resp)
				}
			
		})
        });
    });
	
//LOAD RDF BUTTON
	
	$(document).ready(function() {
        $("#rdf_botton").click(function(){
            var favorite= [];
            $.each($("input[name='rdf']:checked"), function(){            
                favorite.push($(this).val());
            	});
	    favorite = favorite.join(", ");

	    $.ajax({
		url:"/api/action/update_if_loadRDF",
			type:"POST", 
			data:'{"rdf":"'+favorite+'"}',
			dataType: "json",
			success: function(resp){
				console.log(resp)
				}
			
		})
        });
    });


//ds BUTTON
//inserire: url file json su github + resourse_id

$.get( "https://raw.githubusercontent.com/aialenti/test_1/master/test7", function( data ) {
  	json = data;
	});

    $(document).ready(function() {
        $("#ds_botton").click(function(){
	var str= json.replace(/\&/g,"E");
	    $.ajax({
		url:"/api/action/datastore_create",
			type:"POST", 
			data:'{"resource_id":"30e399ab-c44a-48bd-b54a-6586941dd985", "force":"True", "records": '+str+'}',
			
			dataType: "json",
			success: function(resp){
				console.log(resp)
				}
			
		})
        });
    });


//purge BUTTON

$(document).ready(function(){
$("#purge_botton").click(function(){
	$.get('https://raw.githubusercontent.com/aialenti/test_1/master/tobedeleted3.json', function (data) {
	var json = JSON.parse(data);
    	var i = 0;
 	for (var k in json) {
        	i = i+1;
        	if(i>10)
 		console.log(i)
 		if(json[k].state == 'deleted'){
			 purgePackage(json[k].id)

 		}
 	}
 });


})
})
function purgePackage(id) {
	$.ajax({
		url:"/api/action/dataset_purge",
			data:'{"id":"'+id+'"}',
			dataType: "json",
			async : false,
			type:'POST',
			success: function(resp){
				console.log(resp)
			}
			
		})
}	
</script>

<!--
	<div class="btn-group">
		<button id="ds_botton" class="btn btn-primary" type="button">		{{ _('DATASTORE') }}
		</button>
	</div>

 
 	<div class="btn-group">
		<button id="purge_botton" class="btn btn-danger" type="button">		{{ _('PURGE') }}
		</button>
	</div>
 
-->

{%- block footer %}
    {% include "footer.html" %}
  {% endblock -%}
  
{%- endblock -%}

