{% ckan_extends %}

{% set pkg_fields = h.get_dcatapit_package_schema() %}

{% block package_basic_fields_custom %}

	{% snippet 'snippets/dcatapit_form_fields.html', data=data, errors=errors, schema_fields=pkg_fields %}

	<div class="control-group">
		<label class="control-label" for="field-ico_vocabolario_attivita">{{ _("Attivita") }}</label>
		<div class="controls">
			<select id="field-ico_vocabolario_attivita" name="ico_vocabolario_attivita" data-module="autocomplete" multiple>
				{% for ico_vocabolario_attivita in h.ico_vocabolario_attivitas()  %}
					<option value="{{ ico_vocabolario_attivita }}" {% if ico_vocabolario_attivita in data.get('ico_vocabolario_attivita', []) %}selected="selected"{% endif %}>{{ ico_vocabolario_attivita }}</option>
				{% endfor %}
			</select>
		</div>
	</div>	
	
	<div class="control-group">
		<label class="control-label" for="field-ico_vocabolario_LP">{{ _("Livello di Pubblicazione") }}</label>
		<div class="controls">
			<select id="field-ico_vocabolario_LP" name="ico_vocabolario_LP" data-module="autocomplete"  multiple>
				{% for ico_vocabolario_LP in h.ico_vocabolario_LPs()  %}
					<option value="{{ ico_vocabolario_LP }}" {% if ico_vocabolario_LP in data.get('ico_vocabolario_LP', []) %}selected="selected"{% endif %}>{{ ico_vocabolario_LP }}</option>
				{% endfor %}
			</select>
		</div>
	</div>
	
	<div class="control-group">
		<label class="control-label" for="field-ico_vocabolario_PP">{{ _("Portale Pubblicazione") }}</label>
		<div class="controls">
			<select id="field-ico_vocabolario_PP" name="ico_vocabolario_PP" data-module="autocomplete" multiple>
				{% for ico_vocabolario_PP in h.ico_vocabolario_PPs()  %}
					<option value="{{ ico_vocabolario_PP }}" {% if ico_vocabolario_PP in data.get('ico_vocabolario_PP', []) %}selected="selected"{% endif %}>{{ ico_vocabolario_PP }}</option>
				{% endfor %}
			</select>
		</div>
	</div>


	<div class="control-group">
		<label class="control-label" for="field-ico_vocabolario_dato_certificato">{{ _("Dato Certificato") }}</label>
		<div class="controls">
			<select id="field-ico_vocabolario_dato_certificato" name="ico_vocabolario_dato_certificato" data-module="autocomplete"  multiple>
				{% for ico_vocabolario_dato_certificato in h.ico_vocabolario_dato_certificatos()  %}
					<option value="{{ ico_vocabolario_dato_certificato }}" {% if ico_vocabolario_dato_certificato in data.get('ico_vocabolario_dato_certificato', []) %}selected="selected"{% endif %}>{{ ico_vocabolario_dato_certificato }}</option>
				{% endfor %}
			</select>
		</div>
	</div>
	
	<div class="control-group">
		<label class="control-label" for="field-ico_vocabolario_EnCo">{{ _("Enti Coinvolti") }}</label>
		<div class="controls">
			<select id="field-ico_vocabolario_EnCo" name="ico_vocabolario_EnCo" data-module="autocomplete" multiple>
				{% for ico_vocabolario_EnCo in h.ico_vocabolario_EnCos()  %}
					<option value="{{ ico_vocabolario_EnCo }}" {% if ico_vocabolario_EnCo in data.get('ico_vocabolario_EnCo', []) %}selected="selected"{% endif %}>{{ ico_vocabolario_EnCo }}</option>
				{% endfor %}
			</select>
		</div>
	</div>


{% endblock %}