{% extends "page.html" %}
{% import 'macros/form.html' as form %}

{% block subtitle %}{{ _('Login') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{{ h.nav_link(_('Login'), controller='user', action='login') }}</li>
{% endblock %}

{% block primary_content %}
  <section class="module">
    <div class="module-content">
      <h1 class="page-heading">{% block page_heading %}{{ _('Login') }}{% endblock %}</h1>
      {% block form %}
      <form action="" method="post" class="form-horizontal">
  {{ form.errors(errors=error_summary) }}

  {{ form.input('login', label=_("Username"), id='field-login', value="", error=username_error, classes=["control-medium"]) }}
<!--
  {{ form.input('password', label=_("Password"), id='field-password', type="password", value="", error=password_error, classes=["control-medium"]) }}
-->
  <div class="form-actions">
    {% block login_button %}
    <button class="btn btn-primary" type="submit">{{ _('Login') }}</button>
    {% endblock %}
  </div>
</form>
      {% endblock %}
    </div>
  </section>
{% endblock %}

{% block secondary_content %}
  <section class="module module-narrow module-shallow">
      <div class="module-content">
        <h4>{% trans %}Inserisci le tue credenziali IAM (sistema di Identity and Access Management).{% endtrans %}</h4>
      </div>
  </section>
{% endblock %}
